<script type="text/javascript" src="./js/user-validation.js"></script>
<div class="container">
    <h2>Change password:</h2>
    <form action="./changePassword" method="POST">
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
        <input type="hidden" name="userID" value="{{user.userID}}" />
        <label for="password">Current Password:</label>
        <input type="password" name="currentPassword" required />
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required />
        <p id="pwd-error" hidden></p>
        <label for="passwordCheck">Re-enter Password again:</label>
        <input type="password" id="passwordCheck" name="passwordCheck" required />
        <button type="submit" id="save-user-btn">Save</button>
    </form>

    <br>
</div>