<script type="text/javascript" src="./js/user-validation.js"></script>

<div class="changePassword-background">
    <div class="changePassword-container">
        <h1>Change password:</h1>
        <form action="./changePassword" method="POST">
            {{#if error}}
                <p id="pwd-error">{{error}}</p>
            {{/if}}
            <input type="hidden" name="userID" value="{{user.userID}}" />
            <label for="password">Current Password:*</label>
            <input type="password" name="currentPassword" placeholder="Required" required />
            <label for="password">New Password:*</label>
            <input type="password" id="password" name="password" placeholder="Required" required />
            <p id="pwd-error" hidden></p>
            <label for="passwordCheck">Re-enter Password again:*</label>
            <input type="password" id="passwordCheck" name="passwordCheck" placeholder="Required" required />
            <button type="submit" id="save-user-btn">Save</button>
        </form>

        <br>
    </div>
</div>
