<script type="text/javascript" src="./js/create-article-validation.js"></script>
    <div>
        <div class="header-image">
            <img src="./images/create-article.jpg" width=100%>
            <div><span>Create New Article</span></div>
        </div>
    </div>

    <div class="article-container">
            <form class="create-article-form" action="./createArticle" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="articleTitle" class="articles-title">Article Title:</label>
                    <input onkeyup="checkArticleContentAndTitle()" id="article-title" type="text" name="articleTitle" cols="50"><br>
                    <p class="error-text" id="article-title-error" hidden>Error: Article title cannot be blank</p>
                </div>
                <br>

                <div>
                    <textarea id="articleContentTinyMCETextArea" name="articleContent"></textarea>
                    <p class="error-text" id="article-content-error" hidden>Error: Article content cannot be blank</p>
                </div>
                <br>

                <div>
                    <label for="imageFileUpload" class="article-instruction">Upload an image for the article</label>
                    <br>
                    <input id="imageFileUpload" type="file" name="imageFileUpload" accept=".png,.jpg,.jpeg,.bmp,.gif">
                    <p class="create-article-instruction">Accepted file types are: .png, .jpg, .jpeg, .bmp, and .gif</p>
                    <p class="create-article-instruction">Note: Images greater than {{imageMaxWidth}}px width <i>or</i> {{imageMaxHeight}}px height will be resized automatically</p>
                </div>

                <button type="submit" id="article-submit-button" disabled="true">Create article</button>
            </form>
    </div>