{{!-- Main home page for users logged in or not will display list of articles, with filter options --}}

{{!-- All articles / Your article headings will act as buttons to allow switching
between viewing all articles and viewing your articles --}}
<div>
    <div class="header-image">
        <img src="./images/articles.jpg" width=100%>
        <div><span>Articles</span></div>
    </div>

    <div class="articles-body">

        <div class="card-delete-message">
            {{deleteMessage}}
        </div>

        {{#if user}}
        <div class="card-display-mode-switch">
            <div>
                <label class="switch">
                    <input type="checkbox" id="only-display-users-article" onclick="refreshArticleCards()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>Only Show My Articles</div>
        </div>
        {{/if}}

        <div class="card-sorter">
            <form class="card-sorter-form" action="">
                <label for="sortBy">Sort articles by </label>
                <select id="sortBy" name="sortBy" onchange="refreshArticleCards()">
                    <option value="publishDate" selected>Date</option>
                    <option value="userName">Author username</option>
                    <option value="title">Article Title</option>
                </select>
                <label for="sortOrder">in </label>
                <select id="sortOrder" name="allSortOption" onchange="refreshArticleCards()">
                    <option value="desc" selected>descending order</option>
                    <option value="asc">ascending order</option>
                </select>
            </form>
        </div>


        {{!-- 1. All article cards--}}
        <div class="card-container" id="all-card-container">
            {{{articlesHTML}}}
        </div>

        {{!-- 2. User's article cards--}}
        {{#if user}}
        <div class="card-container" id="user-card-container" style="display: none">
            <h2>{{user.userName}}'s Articles</h2>
            {{{userArticlesHTML}}}
        </div>
        {{/if}}
    </div>
</div>