{{!-- Main home page for users logged in or not will display list of articles, with filter options --}}

{{!-- All articles / Your article headings will act as buttons to allow switching
between viewing all articles and viewing your articles --}}
<div>
    <h1>All Articles</h2>
    <div>
        <h2>Latest Articles</h2>
    </div>
    <div class="card-container">

        {{{articleToDisplayTest}}}

    </div>

    <div id="all-article-load-button" class="article-load-button">Load more articles</div>

</div>
<a href=""></a>
