<div>

    <h1>Login</h1>
    <form action="./login" method="POST">
        <div>
            <label for="txtUserName">Username:</label>
            <input type="text" name="userName" id="txtUserName" required>
        </div>

        <div>
            <label for="txtPassword">Password:</label>
            <input type="password" name="password" id="txtPassword" required>
        </div>

        <div>
            <button type="submit">Log in</button>
        </div>
    </form>

TODO - update the link/route handler here:
    <p>Don't have an account? <a href="./newAccount">Create one here.</a></p>

</div>