.avatar {
    width: 40px;
    height: auto;
}

form>input[type=text],
form>textarea,
form>input[type=password],
form>input[type=date],
form>button[type=submit] {
    display: block;
}

form>* {
    margin-bottom: 3px;

}

.card-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 75%;
}