/*Header*/
.header{
    display: flex;
    margin: 0 20px;
    align-items: center;
    color: #0E1C40;
}

.header-left{
    font-size: 160px;
    font-family: "Arial Black";
    margin: 0 20px;
    float: left;
}

.header-middle{
    width: 5px;
    height: 140px;
    background-color: #0E1C40;
}

.header-right{
    font-size: 22px;
    font-family: "Arial Black";
    margin: 0 20px;
}

.header-image{
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.header-image div{
    font-size: 25px;
    font-family: "Arial Black";
    position: absolute;
    background-color: #2A53C1;
    color: #f9f9f9;
    width: 90%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.header-image div span{
    margin-left: 5%;
}

/*Footer*/
.footer{
    height: 100px;
    background-color: #0E1C40;
    color: #f9f9f9;
    text-align: center;
    padding: 50px;
}


/* Navbar page */
.navbar {
    overflow: hidden;
    background-color: #2A53C1;
    font-family: Arial;
}

#nav-left{
    margin-left: 0;
    margin-right: auto;
}

#nav-right{
    float: right;
    margin-right: 50px;
}

.navbar a {
    float: left;
    font-family: "Arial Black";
    font-size: 16px;
    color: #f9f9f9 !important;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-family: "Arial Black";
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #a19fa7 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2A53C1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: white;
    margin: 0px;
}


/*analytics page*/

.analytics-body{
    width: 80%;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.analytics-body h1{
    font-family: "Arial Black";
    font-size: 25px;
    color: #0E1C40;
    text-align: center;
}

.analytics-number-card{
    border: 3px solid lightgray;
    border-radius: 5%;
    margin: 20px 0;
    padding: 10px 20px;
    text-align: center;
}

.analytics-number-card span{
    font-size: 400%;
    font-weight: 600;
    color:#2A53C1;
}

#followNum{
    font-size: 400%;
    font-weight: 600;
    color: lightcoral;
}

.analytics-number-card p{
    color: grey;
    margin: 5px;
}


.analytics-article-card{
    border: 1px solid grey;
    margin: 20px 0;
}

.analytics-article-card-body{
    margin: 20px 20px 40px 20px;
}

.analytics-article-card-body h2{
    font-family: "Arial";
    color: #2A53C1;
}

.analytics-article-card-bottom-line{
    background-color: #2A53C1;
    height: 2px;
}

.analytics-graph-card{
    border: 1px solid grey;
    margin: 20px 0 40px 0;
    padding: 10px;
}

.level-0-comment{
    margin-top: 30px;
    border: 8px solid #ddd;
}
.level-1-comment{
    border: 5px solid #ddd;
    margin-left: 30px;
}
.level-2-comment{
    border: 3px solid #ddd;
    margin-left: 60px;
}

/*profile page*/
.profile-body{
    width: 80%;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.profile-body h1{
    font-family: "Arial Black";
    font-size: 25px;
    color: #0E1C40;
    text-align: left;
}

.profile-body h2{
    font-family: "Arial";
    font-size: 20px;
    color: #2A53C1;
    text-align: left;
}

.profile-body-middle h2{
    font-family: "Arial";
    font-size: 25px;
    color: #0E1C40;
    text-align: left;
}

#profile-name{
    color: #2A53C1;
}

.avatar {
    width: 50px;
    height: auto;
}

#subscribe-button{
    font-family: "Arial";
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f24691;
    color: white;
    border: 1px solid white;
}

#subscribe-button:hover {
    background-color: white;
    color: #f24691;
    border: 1px solid #f24691;
}

#HR{
    border: 1px solid lightgray;
}
.profile-detail-card a{
    font-family: "Arial Black";
    font-size: 13px;
    color: #0E1C40;
}

.profile-detail-card a:link, a:visited{
    background-color: white;
    color: #0E1C40;
    border: 2px solid #2A53C1;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.profile-detail-card a:hover, a:active {
    background-color: #2A53C1;
    color: white;
}

.profile-article-card{
    border: 1px solid grey;
    margin: 10px 0;
}

.profile-detail-card{
    margin: 30px 0;
}

.profile-detail-card-left{
    font-family: "Arial Black";
    font-size: 15px;
    color: #f24691;
}

.profile-detail-span-right{
    font-family: "Arial Black";
    font-size: 15px;
    color: #f24691;
    float:right;
}

.profile-detail-span-right a{
    color: #f24691;
}

.profile-detail-span-right a:link {
    text-decoration: none;
}

.profile-detail-span-right a:visited {
    text-decoration: none;
}

/*Profile Page Middle Part*/

.profile-article-card-body{
    margin: 20px 20px 40px 20px;
}

.profile-article-card-body a{
    color: #0E1C40;
}

.profile-article-card-body a:link {
    text-decoration: none;
}

.profile-article-card-body a:visited {
    text-decoration: none;
}

.profile-article-card-bottom-line{
    background-color: #2A53C1;
    height: 2px;
}

.publishDate{
    color: grey;
    margin: 5px;
}

/*Profile Page Right Part*/

.profile-body-comment-card{
    margin: 20px 20px 40px 7px;
}

.profile-body-comment-card a{
    color: #2A53C1;
}

.profile-body-comment-card a:link {
    text-decoration: none;
}

.profile-body-like-card{
    margin: 20px 20px 20px 7px;
}

/*subscribe page*/
.profile-body{
    width: 80%;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 5%;
    margin: 60px auto 80px auto;
}

#user-image{
    width: 70%;
}

#subscribe-button{
    margin: 15px;
    float: right;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-form{
    margin: 10%;
}

.login-form h1{
    font-family: "Arial";
    font-size: 30px;
    color: #0E1C40;
    text-align: center;
}

.login-form form{
    margin-top: 10%;
}

/* Full-width inputs */
.login-form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form button, .signup-form button{
    background-color: #2A53C1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.login-form button:hover {
    opacity: 0.8;
}

.login-footer{
    text-align: center;
}

.articles-body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.signup-background{
    background-color: #f2f2f2;
}

.signup-container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.signup-container h1{
    font-family: "Arial";
    font-size: 30px;
    color: #0E1C40;
    text-align: left;
}


.signup-form input[type=text], input[type=password], input[type=date], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*Create Article Page*/

.create-article-container{
    width: 60%;
    margin: 60px auto;
    padding: 60px 90px;
    border: 1px solid #2A53C1;
}

.create-article-form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.articles-title{
    font-family: "Arial Black";
    font-size: 25px;
    color:#0E1C40;
    text-align: left;
}


.create-article-instruction{
    font-family: "Arial Black";
    font-size: 15px;
    color:#2A53C1;
    text-align: left;
}

#create-article-button{
    font-family: "Arial";
    font-size: 16px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #f24691;
    color: white;
    border: 1px solid white;
}


/*home-article page*/
form>input[type=text],
form>textarea,
form>input[type=password],
form>input[type=date],
form>button[type=submit] {
    display: block;
}

form>* {
    margin-bottom: 3px;
}


.card-container {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 50px auto;
    height: 400px;
    background-color: #f2f2f2;
}

.card-left{
    width: 50%;
    float: left;
}

.card-left > img{
    height: 100%;
    width: 100%;
}

.card-right{
    width: 50%;
    float: right;
    padding: 30px;
}

.card-right a{
   font-size: 20px;
    color: #0E1C40;
}

.card-right a:link {
    text-decoration: none;
}

.card-right a:visited {
    text-decoration: none;
}

.card-right a:hover {
    color: #2A53C1;
}


/*Edit Profile Page*/
.edit-profile-container{
    width: 40%;
    margin: 30px auto;
    padding: 40px;
}

.edit-profile-container label{
    font-family: "Arial Black";
    font-size: 15px;
    color: #0E1C40;
    text-align: left;
}

.edit-profile-form input[type=text], input[type=password], input[type=date], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#save-user-btn{
    font-family: "Arial";
    font-size: 16px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #f24691;
    color: white;
    border: 1px solid white;
}


/*Detail Article Page*/
.details-background{
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.details-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 10%;
    /*border: 1px solid #aaaaaa;*/
    background-color: white;
}

.details-author{
    overflow: hidden;
}

.details-author-left{
    align-items: center;
    display: -webkit-flex;
}

.details-author-right{
    float: right;
}

.details-image img{
    margin: 40px auto;
    width: 100%;
}

.details-content{
    font-family: "Arial";
    font-size: 20px;
    color: #0E1C40;
    line-height: 1.5;
}

.details-like{
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.details-like-button{
    color: #f24691;
    background-color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: 2px solid #f24691;
    cursor: pointer;
    width: 20%;
    border-radius: 12px;
    font-size: 20px;
}

.details-enter-comment button{
    color: white;
    background-color: #2A53C1;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.details-comments{
    margin-top: 40px;
}

.details-comments-switch-button{
    border: none;
    padding: 14px 20px;
    border-radius: 12px;
}

.comment-title{
    align-items: center;
    display: -webkit-flex;
    padding: 2px 10px;
    background-color: whitesmoke;
}

.comment-content{
    padding: 30px;
}

.comment-reply-button{
    background-color: whitesmoke;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.comment-reply-form{
    margin: 5px 30px;
}

.comment-reply-submit{
    color: white;
    background-color: #2A53C1;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.comment-delete-button{
    color: white;
    background-color: #f099a3;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.comment-delete-confirm-button{
    color: white;
    background-color: #fc6a76;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 100%;
}



button:disabled{
    background-color: #dddddd;
    color: black;
}



.subscribe-list-avatar{
    vertical-align: middle;

}

.subscribe-list-text{
    display: inline-block;
}


